

/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
    color: var(--bs-body-color);
}

.hljs-string,
.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: var(--bs-success);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: var(--bs-primary);
}

.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: var(--bs-danger);
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: var(--bs-info);
}

.hljs-doctag {
    color: var(--bs-secondary);
}

.hljs-attr {
    color: var(--bs-danger);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: var(--bs-info);
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}