/* search button on navbar */
/* :root {
    --docsearch-primary-color: var(--bd-violet);
    --docsearch-logo-color: var(--bd-violet)
}

[data-bs-theme="dark"] {
    --docsearch-text-color: #f5f6f7;
    --docsearch-container-background: rgba(9, 10, 17, .8);
    --docsearch-modal-background: #15172a;
    --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
    --docsearch-searchbox-background: #090a11;
    --docsearch-searchbox-focus-background: #000;
    --docsearch-hit-color: #bec3c9;
    --docsearch-hit-shadow: none;
    --docsearch-hit-background: #090a11;
    --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, .3);
    --docsearch-footer-background: #1e2136;
    --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, .5), 0 -4px 8px 0 rgba(0, 0, 0, .2);
    --docsearch-muted-color: #7f8497
} */

.bs-search {
    position: relative;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

@media (min-width: 992px) {
    .bs-search {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        width: 200px;
        margin-left: -100px
    }
}

@media (min-width: 1200px) {
    .bs-search {
        width: 280px;
        margin-left: -140px
    }
}

.bs-search-button {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: .375rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.35rem 0.35rem 0.35rem 0.5rem;
}

.bs-search-button .bs-search-icon,
.bs-search-button .bs-search-button-placeholder {
    opacity: .65;
    color: var(--bs-white);
}

.bs-search-button:active,
.bs-search-button:focus,
.bs-search-button:hover {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-white-rgb), 0.15);
}

.bs-search-button:active .bs-search-icon,
.bs-search-button:focus .bs-search-icon,
.bs-search-button:hover .bs-search-icon,
.bs-search-button:active .bs-search-button-placeholder,
.bs-search-button:focus .bs-search-button-placeholder,
.bs-search-button:hover .bs-search-button-placeholder,
.bs-search-button:hover .bs-search-button-key {
    opacity: 1
}

@media (max-width: 991.98px) {

    .bs-search-button,
    .bs-search-button:hover,
    .bs-search-button:focus {
        background: transparent;
        border: 0;
        box-shadow: none
    }

    /* .bs-search-button:focus {
        box-shadow: var(--docsearch-searchbox-shadow)
    } */
}



.bs-search-button-keys {
    min-width: 0;
    padding: .125rem .25rem;
    background: rgba(0, 0, 0, 0.25);
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bs-search-button-key {
    top: 0;
    width: auto;
    height: 1.25rem;
    padding-right: .125rem;
    padding-left: .125rem;
    margin-right: 0;
    font-size: .875rem;
    background: none;
    box-shadow: none;
    opacity: .65;
    color: #fff
}

@media (max-width: 991.98px) {

    .bs-search-button-keys,
    .bs-search-button-placeholder {
        display: none !important
    }
}

/*mark on search dialog*/
#doc-search-result mark {
    padding: 0;
}

/* loading */

.bs-main.loading .page-title-text,
.bs-main.loading .example-description,
.bs-main.loading .example-text,
.bs-main.loading .example-ul li,
.bs-main.loading .example-ol li,
.bs-main.loading .example-alert .alert,
.bs-main.loading .example-item,
.bs-main.loading .example-table .table td,
.bs-main.loading .example-table .table th,
.bs-main.loading .example-code .example-output,
.bs-main.loading .example-code .example-preview-container,
.bs-main.loading .example-code .font-monospace small,
.bs-main.loading .example-preview.card .card-header a.font-monospace,
.bs-main.loading .example-preview.card .card-body pre,
.bs-main.loading .example-title,
.bs-main.loading .example-subtitle,
.bs-main.loading .example-xsubtitle,
.bs-main.loading .bs-toc ul li,
.bs-main.loading .bs-toc h5 {
    color: transparent;
    position: relative;
}

.bs-main.loading .page-title-text>*:not(.placeholder-wave),
.bs-main.loading .example-description>*:not(.placeholder-wave),
.bs-main.loading .example-text>*:not(.placeholder-wave),
.bs-main.loading .example-ul li>*:not(.placeholder-wave),
.bs-main.loading .example-ol li>*:not(.placeholder-wave),
.bs-main.loading .example-alert .alert>*:not(.placeholder-wave),
.bs-main.loading .example-item>*:not(.placeholder-wave),
.bs-main.loading .example-table .table td>*:not(.placeholder-wave),
.bs-main.loading .example-table .table th>*:not(.placeholder-wave),
.bs-main.loading .example-code .example-output>*:not(.placeholder-wave),
.bs-main.loading .example-code .example-preview-container>*:not(.placeholder-wave),
.bs-main.loading .example-code .font-monospace small>*:not(.placeholder-wave),
.bs-main.loading .example-preview.card .card-header a.font-monospace>*:not(.placeholder-wave),
.bs-main.loading .example-preview.card .card-body pre>*:not(.placeholder-wave),
.bs-main.loading .example-title>*:not(.placeholder-wave),
.bs-main.loading .example-subtitle>*:not(.placeholder-wave),
.bs-main.loading .example-xsubtitle>*:not(.placeholder-wave),
.bs-main.loading .bs-toc ul li>*:not(.placeholder-wave),
.bs-main.loading .bs-toc h5>*:not(.placeholder-wave) {
    visibility: hidden;
}

.bs-main.loading .page-title-text>.placeholder-wave,
.bs-main.loading .example-description>.placeholder-wave,
.bs-main.loading .example-text>.placeholder-wave,
.bs-main.loading .example-ul li>.placeholder-wave,
.bs-main.loading .example-ol li>.placeholder-wave,
.bs-main.loading .example-alert .alert>.placeholder-wave,
.bs-main.loading .example-item>.placeholder-wave,
.bs-main.loading .example-table .table td>.placeholder-wave,
.bs-main.loading .example-table .table th>.placeholder-wave,
.bs-main.loading .example-code .example-output>.placeholder-wave,
.bs-main.loading .example-code .example-preview-container>.placeholder-wave,
.bs-main.loading .example-code .font-monospace small>.placeholder-wave,
.bs-main.loading .example-preview.card .card-header a.font-monospace>.placeholder-wave,
.bs-main.loading .example-preview.card .card-body pre>.placeholder-wave,
.bs-main.loading .example-title>.placeholder-wave,
.bs-main.loading .example-subtitle>.placeholder-wave,
.bs-main.loading .example-xsubtitle>.placeholder-wave,
.bs-main.loading .bs-toc ul li>.placeholder-wave,
.bs-main.loading .bs-toc h5>.placeholder-wave {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    color: var(--bs-body-color);


}

.bs-main.loading .example-preview pre>.placeholder-wave {
    white-space: break-spaces;
}

.bs-main.loading .example-alert .alert>.placeholder-wave {
    padding: var(--bs-alert-padding-x) var(--bs-alert-padding-y);
    height: calc(100% - var(--bs-alert-padding-x));
}

.bs-main.loading .btn {
    animation: placeholder-glow 2s ease-in-out infinite;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    background-color: currentcolor;
    opacity: .5;
}

.bs-main.loading .placeholder {
    animation: placeholder-glow 2s ease-in-out infinite;
    border-radius: calc(var(--bs-border-radius) * 0.25);
}


.bs-navbar-nav .nav-link.active {
    font-weight: 600;
}


.ms-n4 {
    margin-left: -2rem;
}

/* list-group-item-check-2*/
.example-output.list-group-item-check-2 label.list-group-item {
    cursor: pointer;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.example-output.list-group-item-check-2 input {
    z-index: 2;
    margin-top: -0.5em;
}

.example-output.list-group-item-check-2 input:checked+label.list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 2px var(--bs-primary);
}

.example-output.list-group-item-check-2 input:disabled+label.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

/* list-group-item-check */
.example-output.list-group-item-check input.list-group-item {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.example-output.list-group-item-check label.list-group-item {
    cursor: pointer;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.example-output.list-group-item-check input:checked+label.list-group-item {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.example-output.list-group-item-check input:disabled+label.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

/*todo-list*/
.example-output.todo-list .form-check-input:checked+span.form-cheked-content {
    opacity: 0.5;
}

/*zoom*/
.example-output.zoom-25 {
    transform: scale(0.25);
    transform-origin: center left;
}

.example-output.zoom-50 {
    transform: scale(0.5);
    transform-origin: center left;

}

.example-output.zoom-75 {
    transform: scale(0.75);
    transform-origin: center left;

}

.example-output.zoom-100 {
    transform: scale(1);
    transform-origin: center left;

}

.example-output.zoom-125 {
    transform: scale(1.25);
    transform-origin: center left;

}

.example-output.zoom-150 {
    transform: scale(1.5);
    transform-origin: center left;

}

.example-output.zoom-200 {
    transform: scale(2);
    transform-origin: center left;

}



/*example-console*/
.example-console-notification:not(.active) {
    visibility: hidden;
}

.example-console-notification.active {
    animation: example-console-notification-animation 1s steps(3, start) infinite;
    -webkit-animation: example-console-notification-animation 1s steps(3, start) infinite;
}

@keyframes example-console-notification-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes example-console-notification-animation {
    to {
        visibility: hidden;
    }
}

/* data-bs-responsive-title */
@media (max-width: 768px) {
    div.example-table {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    /*loading*/
    .bs-main.loading table.table[data-bs-responsive-title="bs-title-name"] tbody td::before {
        content: "";
    }

    .bs-main.loading table.table[data-bs-responsive-title="bs-title-name"] .placeholder-wave {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    /*loading*/

}

@media (max-width: 576px) {



    /*loading*/
    .bs-main.loading table.table[data-bs-responsive-title="bs-title-name"] tbody td::before {
        content: "";
    }

    .bs-main.loading table.table[data-bs-responsive-title="bs-title-name"] .placeholder-wave {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    /*loading*/


}



/*swatch*/
.swatch {
    padding: 0;
    height: 3.5rem;
    width: 11rem;
}

.swatch input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* simple-list-example */
#simple-list-example a.active {
    background-color: var(--bs-secondary-bg);
}

/* custom popover */
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

/* custom tooltip */
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

/* toggler on main container */
.bs-noshadow:focus {
    box-shadow: none;
}

/* example */

strong,
.example-pagetitle,
.example-title,
.example-subtitle,
.example-xsubtitle,
.example-table table b,
.example-table table thead th {
    color: var(--bs-emphasis-color);
}

.example-ul li,
.example-ol li {
    padding-bottom: 0.25rem;
}

/* make some desing */

.example-output.reset-list>ul {
    list-style: initial;
}

/* responsive-width */
.example-output.dropdown-menu-w-md-480px .dropdown-menu {
    min-width: 320px !important;
}

@media (min-width: 992px) {
    .example-output.dropdown-menu-w-md-480px .dropdown-menu {
        min-width: 480px !important;
    }
}

/*list-group-w-400px*/
.example-output.list-group-w-400px {
    max-width: 400px;
}

/* ratio-box */

.example-output.ratio-box div.ratio {
    display: inline-block;
    width: 10rem;
    color: var(--bs-secondary-color);
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.example-output.ratio-box div.ratio div {
    display: flex;
    align-items: center;
    justify-content: center;
}


.example-output.zindex-box div {
    background-color: var(--bs-primary);
    border: 1px solid var(--bs-primary-border-subtle);
    color: var(--bs-primary-text-emphasis);
}

.example-output.zindex-box div span {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: var(--bs-body-bg);
}

.example-output.zindex-box div:nth-child(1) {
    top: 1.5rem;
    left: 1.5rem;
    z-index: 5 !important;
}

.example-output.zindex-box div:nth-child(2) {
    top: 3rem;
    left: 3rem;
    z-index: 4 !important;
}

.example-output.zindex-box div:nth-child(3) {
    top: 4.5rem;
    left: 4.5rem;
    z-index: 3 !important;
}

.example-output.zindex-box div:nth-child(4) {
    top: 6rem;
    left: 6rem;
    z-index: 2 !important;
}

.example-output.zindex-box div:nth-child(5) {
    top: 7.5rem;
    left: 7.5rem;
    z-index: 1 !important;
}


/* sidebar-item */
.example-output.sidebar-item a.sidebar-item {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}

.example-output.sidebar-item a.sidebar-item.active {
    color: #fff !important;
    background-color: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
}




/* btn-toggle */
.example-output.toggle .btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}

/* position-box */
.example-output.position-box div.position-relative {
    display: block;
    background-color: var(--bs-tertiary-bg);
    height: 200px;
}

.example-output.position-box div.position-relative div.position-absolute {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: var(--bs-body-color);
    border-radius: .375rem;
}

/* span-box */
.example-output.span-box span {
    display: inline-block;
    background-color: var(--bs-tertiary-bg);
    border-width: 0.5rem;
    padding: 2.5rem;
}

/* flex-box */
.example-output.flex-box div {
    background-color: rgba(var(--bs-primary-rgb), 0.15);
    border: 1px solid rgba(var(--bs-primary-rgb), 0.3);
}

.example-output.flex-box div .vr {
    background-color: rgba(var(--bs-primary-rgb), 1);
}

/* col-box */
.example-output.col-box .col,
.example-output.col-box .col-auto,
.example-output.col-box .col-0,
.example-output.col-box .col-1,
.example-output.col-box .col-2,
.example-output.col-box .col-3,
.example-output.col-box .col-4,
.example-output.col-box .col-5,
.example-output.col-box .col-6,
.example-output.col-box .col-7,
.example-output.col-box .col-8,
.example-output.col-box .col-9,
.example-output.col-box .col-10,
.example-output.col-box .col-11,
.example-output.col-box .col-12,
.example-output.col-box .col-sm,
.example-output.col-box .col-sm-auto,
.example-output.col-box .col-sm-0,
.example-output.col-box .col-sm-1,
.example-output.col-box .col-sm-2,
.example-output.col-box .col-sm-3,
.example-output.col-box .col-sm-4,
.example-output.col-box .col-sm-5,
.example-output.col-box .col-sm-6,
.example-output.col-box .col-sm-7,
.example-output.col-box .col-sm-8,
.example-output.col-box .col-sm-9,
.example-output.col-box .col-sm-10,
.example-output.col-box .col-sm-11,
.example-output.col-box .col-sm-12,
.example-output.col-box .col-md,
.example-output.col-box .col-md-auto,
.example-output.col-box .col-md-0,
.example-output.col-box .col-md-1,
.example-output.col-box .col-md-2,
.example-output.col-box .col-md-3,
.example-output.col-box .col-md-4,
.example-output.col-box .col-md-5,
.example-output.col-box .col-md-6,
.example-output.col-box .col-md-7,
.example-output.col-box .col-md-8,
.example-output.col-box .col-md-9,
.example-output.col-box .col-md-10,
.example-output.col-box .col-md-11,
.example-output.col-box .col-md-12,
.example-output.col-box .col-lg,
.example-output.col-box .col-lg-auto,
.example-output.col-box .col-lg-0,
.example-output.col-box .col-lg-1,
.example-output.col-box .col-lg-2,
.example-output.col-box .col-lg-3,
.example-output.col-box .col-lg-4,
.example-output.col-box .col-lg-5,
.example-output.col-box .col-lg-6,
.example-output.col-box .col-lg-7,
.example-output.col-box .col-lg-8,
.example-output.col-box .col-lg-9,
.example-output.col-box .col-lg-10,
.example-output.col-box .col-lg-11,
.example-output.col-box .col-lg-12,
.example-output.col-box .col-xl,
.example-output.col-box .col-xl-auto,
.example-output.col-box .col-xl-0,
.example-output.col-box .col-xl-1,
.example-output.col-box .col-xl-2,
.example-output.col-box .col-xl-3,
.example-output.col-box .col-xl-4,
.example-output.col-box .col-xl-5,
.example-output.col-box .col-xl-6,
.example-output.col-box .col-xl-7,
.example-output.col-box .col-xl-8,
.example-output.col-box .col-xl-9,
.example-output.col-box .col-xl-10,
.example-output.col-box .col-xl-11,
.example-output.col-box .col-xl-12,
.example-output.col-box .col-xxl,
.example-output.col-box .col-xxl-auto,
.example-output.col-box .col-xxl-0,
.example-output.col-box .col-xxl-1,
.example-output.col-box .col-xxl-2,
.example-output.col-box .col-xxl-3,
.example-output.col-box .col-xxl-4,
.example-output.col-box .col-xxl-5,
.example-output.col-box .col-xxl-6,
.example-output.col-box .col-xxl-7,
.example-output.col-box .col-xxl-8,
.example-output.col-box .col-xxl-9,
.example-output.col-box .col-xxl-10,
.example-output.col-box .col-xxl-11,
.example-output.col-box .col-xxl-12 {
    background-color: rgba(var(--bs-primary-rgb), 0.15);
    border: 1px solid rgba(var(--bs-primary-rgb), 0.3);
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.example-output.col-box div.row:not(:last-child) {
    margin-bottom: 1rem;
}

/* row-10 */
.example-output.row-10 div.row {
    min-height: 10rem;
    background-color: rgba(var(--bs-primary-rgb), 0.15);
}

/* p-box */
.example-output.p-box div.p-3 {
    background-color: rgba(var(--bs-primary-rgb), 0.15);
    border: 1px solid rgba(var(--bs-primary-rgb), 0.3);
}


/*example-container*/
.example-output.example-container-css .example-content {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.example-output.example-container-css .example-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.example-output.example-container-css .example-content-main {
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.example-output.example-container-css .example-content-secondary {
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}


.example-output .debug:not(.toast-container) {
    position: static !important;
    display: block !important;
}

.example-output .debug.d-flex:not(.toast-container) {
    position: static !important;
    display: flex !important;
}

.example-output .debug.toast-container:not(#toastPlacement) {
    position: static !important;
    display: block !important;
}

.example-output .fixed-top,
.example-output .sticky-top {
    position: static;
    margin: calc(1.5rem * -1) calc(1.5rem * -1) 1.5rem;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}

.example-output .fixed-bottom,
.example-output .sticky-bottom {
    position: static;
    margin: 1.25rem calc(1.5rem * -1) calc(1.5rem * -1);
}

.example-output .offcanvas.debug {
    transform: none;
    transition: none;
    visibility: visible;
    height: 200px;
}

.example-output .offcanvas-start:not(.show):not(.showing):not(.hiding):not(.offcanvas-lg) {
    border-top-left-radius: var(--bs-border-radius);
}

.example-output .offcanvas-top:not(.show):not(.showing):not(.hiding):not(.offcanvas-lg) {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}


.example-output .offcanvas-end:not(.show):not(.showing):not(.offcanvas-lg) {
    border-top-right-radius: var(--bs-border-radius);
}




/* use by docs/components/modal#grid_in_modal*/
.bs-highlight-col div[class^="col"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(var(--bs-primary-rgb), 0.15);
    border: 1px solid rgba(var(--bs-primary-rgb), 0.3);
}

.bs-highlight-col div.row {
    margin-bottom: 0.75rem;
}

/* animate icon */
.animated-icon:hover {
    display: inline-block;
    transition: transform 0.25s ease-in-out;
    transform: rotate(-10deg) scale(1.3);
}

/* bs-bootswatch-menu */
/* .bs-bootswatch-menu a{
    border-radius: var(--bs-dropdown-border-radius);
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.bs-bootswatch-menu a:hover,
.bs-bootswatch-menu a:focus{
    cursor: pointer;
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

.bs-bootswatch-menu a.active{
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
} */


/* example */


@media (max-width: 768px) {

    .example-code.card,
    .example-preview.card {
        margin: 0 -1.5rem 1rem;
        border-radius: 0;
        border-left: 0;
        border-right: 0
    }

    .example-code.card>.card-body>ul.list-group {
        border-radius: 0 !important;
    }

    .example-code.card>.card-body>ul.list-group>li.list-group-item {
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .example-code.card>.card-body>ul.list-group>li.list-group-item.rounded-bottom-2 {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

}

/* anchor link */
.anchor-link:focus,
.anchor-link:hover,
:hover>.anchor-link,
:target>.anchor-link {
    color: var(--bs-primary);
    text-decoration: none;
    opacity: 1;
}

.anchor-link {
    padding: 0 .175rem;
    font-weight: 400;
    color: rgba(var(--bs-primary-rgb), 0.5);
    text-decoration: none;
    opacity: 0;
    transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.anchor-link::after {
    content: "#";
}

/* color-pallet */
.color-pallet {
    display: flex;
    justify-content: center;
}

.color-pallet div {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -0.75rem;
    border-radius: var(--bs-border-radius-pill);
    border-width: var(--bs-border-width);
    border-style: var(--bs-border-style);
    border-color: var(--bs-border-color);}

.color-pallet div:nth-child(1) { z-index: 8; }
.color-pallet div:nth-child(2) { z-index: 7; }
.color-pallet div:nth-child(3) { z-index: 6; }
.color-pallet div:nth-child(4) { z-index: 5; }
.color-pallet div:nth-child(5) { z-index: 4; }
.color-pallet div:nth-child(6) { z-index: 3; }
.color-pallet div:nth-child(7) { z-index: 2; }
.color-pallet div:nth-child(8) { z-index: 1; }



/* navbar */
.bs-main-navbar, 
.bs-main-navbar-offcanvas .offcanvas-header, 
.bs-main-navbar-offcanvas .offcanvas-body
{
    background-color: var(--bs-primary);
    color:var(--bs-white);
}

.bs-main-navbar .btn,
.bs-main-navbar .nav-link,
.bs-main-navbar .navbar-brand,
.bs-main-navbar .navbar-toggler {
    color: var(--bs-white);
}

.bs-main-navbar .nav-link.active,
.bs-main-navbar .dropdown-toggle.show {
    color: rgba(var(--bs-body-bg),0.75);
}

@media (max-width: 991.98px) {
    .bs-navbar-toggle {
        width: 4.25rem;
    }
}

/* sidebar */
@media (min-width: 992px) {
    .bs-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto
    }
}

@media (max-width: 991.98px) {
    .bs-sidebar .offcanvas-lg {
        border-right-color: var(--bs-border-color);
        box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175)
    }
}

.bs-links-heading {
    color: var(--bs-emphasis-color)
}

@media (max-width: 991.98px) {
    .bs-links-nav {
        font-size: .875rem
    }
}

@media (max-width: 991.98px) {
    .bs-links-nav {
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem
    }

    .bs-links-nav .bs-links-group {
        -moz-column-break-inside: avoid;
        break-inside: avoid
    }

    .bs-links-nav .bs-links-span-all {
        -moz-column-span: all;
        column-span: all
    }
}

.bs-links-link {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    /* margin-left: 1.125rem; */
    color: var(--bs-body-color);
    text-decoration: none
}

.bs-links-link:hover,
.bs-links-link:focus {
    background-color: rgba(var(--bs-primary-rgb), 0.25)
}

.bs-links-link.active {
    font-weight: 600;
    color: var(--bs-white);
    background-color: var(--bs-primary)
}

.bs-gutter {
    --bs-gutter-x: 3rem
}

@media (min-width: 992px) {
    .bs-layout {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: 1.5rem
    }
}

.bs-sidebar {
    grid-area: sidebar
}

.bs-main {
    grid-area: main
}

@media (max-width: 991.98px) {
    .bs-main {
        max-width: 760px;
        margin-inline: auto
    }
}

@media (min-width: 768px) {
    .bs-main {
        display: grid;
        grid-template-areas: "intro" "toc" "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit
    }
}

@media (min-width: 992px) {
    .bs-main {
        grid-template-areas: "intro   toc" "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr
    }
}

.bs-intro {
    grid-area: intro
}


.bs-content {
    grid-area: content;
    min-width: 1px
}

/* toc */
.bs-toc {
    grid-area: toc
}

@media (min-width: 992px) {
    .bs-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto
    }
}

.bs-toc nav {
    font-size: .875rem
}

.bs-toc nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.bs-toc nav ul ul {
    padding-left: 1rem;
    margin-top: .25rem
}

.bs-toc nav li {
    margin-bottom: .25rem
}

.bs-toc nav a {
    color: inherit
}

.bs-toc nav a:not(:hover) {
    text-decoration: none
}

.bs-toc nav a.active,
.bs-toc nav a:hover {
    color: var(--bs-primary);
    border-left-color: var(--bs-primary);
    border-left-width: 0.15rem;
    border-left-style: solid;
    padding-left: 0.875rem;
    margin-left: -1rem;
    text-decoration: none;
    display: block;
}

.bs-toc nav a code {
    font: inherit
}

.bs-toc-toggle {
    display: flex;
    align-items: center
}

@media (max-width: 767.98px) {
    .bs-toc-toggle {
        color: var(--bs-body-color);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        justify-content: space-between;
        width: 100%;
    }

    .bs-toc-toggle:hover,
    .bs-toc-toggle:focus,
    .bs-toc-toggle:active,
    .bs-toc-toggle[aria-expanded="true"] {
        color: var(--bs-link-color);
        background-color: var(--bs-body-bg);
        border-color: var(--bs-link-color)
    }

    .bs-toc-toggle:focus,
    .bs-toc-toggle[aria-expanded="true"] {
        box-shadow: 0 0 0 3px rgba(var(--bs-link-color-rgb), 0.25)
    }
}

@media (max-width: 767.98px) {
    .bs-toc-collapse nav {
        padding: 1.25rem;
        background-color: var(--bs-tertiary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius)
    }
}

@media (min-width: 768px) {
    .bs-toc-collapse {
        display: block !important
    }
}

/* footer */
.bs-footer a {
    color: var(--bs-body-color);
    text-decoration: none
}

.bs-footer a:hover,
.bs-footer a:focus {
    color: var(--bs-link-hover-color);
    text-decoration: underline
}